
tr.completed{
  background-color: #d1d1d1;
}

.header-yellow{
background-color: #f0ad4e;
}


input[type="text"]::placeholder {  
    text-align: center; 
} 

li {
    list-style: none;
}

.form-check-input:checked {
  background-color: green;
  border-color: green;
}

.btn-danger {
background-color: #d60404;
}